name: Deploy Frontend Node.js App - erasmus-cc2025-ui

on:
  push:
    branches:
      - main
    paths:
      - 'src/main/resources/static/**'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '24.x'


      - name: Install dependencies and prepare static files
        run: |
          cd src/main/resources/static
          npm install
          


      - name: Zip artifact for deployment
        run: |
          cd src/main/resources/static
          zip -r ../../../release.zip .

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip
  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'erasmus-cc2025-ui'
          slot-name: 'Production'
          package: release.zip
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_7ED022949DB449D5BF779F71A2E48126 }}